@charset 'utf-8';
.btn12 {
    padding: 0.6em 0.88em;
    background-color: linear-gradient(to right, #e66465 50%, #fff 50%);
    background-size: 200% 100.5%;
    background-position: right bottom;
    color: #020202;
    border: none;
    border-top: 0.30em solid #00AA90;
    border-bottom: 0.30em solid #F7D94C;
    box-shadow: 3px 3px 2px rgba(0,0,0,0.08);
}
body{
   font-family: 'Quicksand', sans-serif;
}
